body {
  font-family: Arial, sans-serif;
  margin: 1;
  background: #faf8f6;
  color: #388fbf;
}

header {
  background: #faf8f6;
  color: #388fbf;
  padding: 2em 1em;
  text-align: center;
}

header h1 {
  margin: 1;
  font-size: 3rem; 
}

.fun-fact {
  font-style: italic;
  margin: 1em 0;
}

#searchInput {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  margin-top: 1rem;
}

.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.search-results li {
  padding: 6px 12px;
  border-bottom: 1px solid #eee;
}

.search-results li a {
  text-decoration: none;
  color: #0077cc;
}

.search-results li a:hover {
  text-decoration: underline;
}


nav {
  background: #faf8f6;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

nav li {
  margin: 0.7em;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  background: #388fbf;
  border-radius: 5px;
}

nav a:hover {
  background: #C2E5F8;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}
